<section>
  <div class="wrapper">
    <div class="left">
      <img src="./../../../assets/lila.jpg" alt="user-pic" width="150" />
      <h4>{{ userData.firstname }} {{ userData.lastname }}</h4>
      <p>UI Developer</p>
    </div>

    <div class="right">
      <div class="info">
        <h3>Information</h3>

        <div class="info-data">
          <div class="data">
            <h4>Email</h4>
            <p>{{ userData.email }}</p>
          </div>

          <div class="data">
            <h4>Phone</h4>
            <p>{{ userData.telephone }}</p>
          </div>
        </div>
      </div>

      <div class="job-info">
        <h3>Job Information</h3>

        <div class="job-data">
          <div class="data">
            <h4>Role Name</h4>
            <p></p>
          </div>

          <div class="data">
            <h4>Section</h4>
            <p>551-234-5678</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
